<!DOCTYPE html>
<title>DBoT Query</title>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-right:20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#user_token {
  width: 85%;
}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 15%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left:20px;
  margin-right:20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size: large;
}

#sensor_id {
  width: 100%;
  margin-left:0px;
  margin-right:0px;
}

#loadAttributes {
  float: right;
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#query {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=button]:hover {
  background-color: #45a049;
}

#form_div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

html, body, #form_div {
    min-height: 100% !important;
    height: 100%;
}

#result_div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.topnav {
  width:100%;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.topnav a.logout {
  float:right;
}

</style>

<body>

<!-- Navbar -->
<div class="topnav">
  <!-- <a href="{% url 'home_page' %}">HOME</a> -->
  <a href="{% url 'db_insert_page' %}">INSERT</a>
  <a class="active" href="{% url 'db_query_page' %}">QUERY</a>
  <a class="logout" href="{% url 'logout_page' %}" onclick="logout_user()">LOGOUT</a>
</div>

<div id="form_div">
  <form>
    <label for="user_token">Your Token: </label>
    <div>
      <input type="text" id="user_token" name="user_token" placeholder="Paste your token here...">
      <button type="button" id="loadAttributes" onclick="load_Attributes()">Load Attributes</button>
    </div>
    
    <!-- <label for="JSON_input">JSON input</label>
    <input style="height:200px;" type="text" id="JSON_input" name="JSON_input" placeholder="JSON input.."> -->
      <label id="sensor_target">Sensor target</label>
      <select id="sensor_id" class="form-control select2" name="comp_type" style="width: 100%;">

        <!-- {% for i in sensors %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %} -->

        <option value="all">All</option>
      </select>

      
    <label for="attributes">Attributes to be shown: </label>
    <!-- <label id="labelChanged"></label>
    <input type="text" id="attributes" name="attributes" placeholder='Example: ["temperature"]'> -->

    <div id="container" class="container"></div>

    <label for="conditions">Conditions: </label>
    <!-- <input type="text" id="conditions" name="conditions" placeholder='Example: {"temperature": "=12"}'> -->

    <div id="container2" class="container"></div>

    <label for="from_ts">From: </label>
    <input type="date" id="from_ts" name="from_ts" value="None" min="2019-02-02" max="2021-12-03"> 

    <label for="to_ts">To: </label>
    <input type="date" id="to_ts" name="to_ts" value="None" min="2019-02-03" max="2021-12-03">


    <button id="query" type="button" onclick="queryDB()">Query</button>

    
  </form>
  <div id="result_div" style="visibility: hidden;">
    This is my DIV element.
  </div>
</div>


  
</div>
<script>

    $('#sensor_id').on('change', function(){
      load_attributes_function()
    }).trigger('change');

    function queryDB(){
  
      document.getElementById("result_div").innerHTML = ""
  
      var result_div = document.getElementById("result_div");
      
      var attributes = []
      var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

      for (var i = 0; i < checkboxes.length; i++) {
        attributes.push(checkboxes[i].value)
      }

      var checkboxes_2 = document.querySelectorAll('input[type=checkbox]')

      var condition_list = [];

      for (var i = 0; i < checkboxes_2.length; i++) {
        condition_operator = document.getElementById("select" + i).value;
        condition_value = document.getElementById("value" + i).value;

        condition2_operator = document.getElementById("2select" + i).value;
        condition2_value = document.getElementById("2value" + i).value;

        if (condition_value == "" && condition2_value == ""){
          //pass
        }

        else {

          if (condition2_value == ""){
            //condition_dict[checkboxes_2[i].value] = condition_operator + condition_value
            first_condition = [checkboxes_2[i].value,condition_operator,condition_value]
            
            condition_list.push(first_condition)
          }

          else if (condition_value == "") {
            second_condition = [checkboxes_2[i].value,condition2_operator,condition2_value]

            condition_list.push(second_condition)
          }

          else {
            first_condition = [checkboxes_2[i].value,condition_operator,condition_value]

            second_condition = [checkboxes_2[i].value,condition2_operator,condition2_value]

            condition_list.push(first_condition)
            condition_list.push(second_condition)
          }
          
        }
      }
      
      var from_ts = document.getElementById("from_ts").value
      var to_ts = document.getElementById("to_ts").value
      var sensor_id = document.getElementById("sensor_id").value
      var user_token = document.getElementById("user_token").value
      console.log(sensor_id)
      var url2 = '/query_db/' + user_token + '/' + sensor_id
      data_dict = JSON.stringify({ "conditions": condition_list, "attributes": attributes, "from_ts": from_ts, "to_ts": to_ts})
      console.log(data_dict)
      $.ajax({ 
      headers: { 
          'Accept': 'application/json',
          'Content-Type': 'application/json' 
      },
      url: url2,
      type: 'POST',
      data: data_dict,
      success: function(result) {
        for( const element of result){
          document.getElementById("result_div").innerHTML += JSON.stringify(element);
          document.getElementById("result_div").innerHTML += "<br>"
        }
        //document.getElementById("result_div").innerHTML = JSON.stringify(result);
        result_div.style.visibility = "visible";
        },
        error: function(result) {
          console.log('error')
        }
      });
    }

    async function load_Attributes(){
      var keys = [];
      var user_token = document.getElementById("user_token").value
      var sensor_select = document.getElementById("sensor_id");
      url2 = '/get_all_attributes/' + user_token
      $.ajax({ 
      headers: { 
          'Accept': 'application/json',
          'Content-Type': 'application/json' 
      },
      url: url2,
      type: 'GET',
      success: function(result) {
          for(var k in result) {
            if (k == "all") {
              keys.push(k);
            }
            else {
              var option = document.createElement("option");
              keys.push(k);
              option.text = k;
              sensor_select.add(option);
            }
          }
          window.value = result
          load_attributes_function();
        },
        error: function(result) {
          console.log('error')
        }

        
    });}

    function load_attributes_function() {

      try {
        var elem = document.getElementById("checkbox_div_id");
        elem.parentNode.removeChild(elem);

        var elem = document.getElementById("conditions_div_id");
        elem.parentNode.removeChild(elem);

        var elem = document.getElementById("conditions_div_id_2");
        elem.parentNode.removeChild(elem);

        load_attributes_checkboxes()

        load_conditions_div()

      }

      catch {
        load_attributes_checkboxes()

        load_conditions_div()
      }
    }

    function load_attributes_checkboxes() {

        sensor_id = document.getElementById("sensor_id").value

        attributes_dict = window.value

        var checkbox_div = document.createElement('div');

        checkbox_div.id = "checkbox_div_id"

        var container = document.getElementById('container');

        container.appendChild(checkbox_div);

        // For each choice in the selected option
        for (var i = 0; i < attributes_dict[sensor_id].length; i++) {
          if (attributes_dict[sensor_id][i] == "timestamp") {
            //pass
          }

          else {
            var attribute = toString(attributes_dict[sensor_id][i])
            var checkbox = document.createElement('input');

            checkbox.type = 'checkbox';
            checkbox.id = attributes_dict[sensor_id][i];
            checkbox.name = 'interest';
            checkbox.value = attributes_dict[sensor_id][i];

            var label = document.createElement('label');
            label.setAttribute("style", "font-size: medium; margin-left:10px; margin-right:10px;");
            label.htmlFor = attributes_dict[sensor_id][i];
            label.appendChild(document.createTextNode(attributes_dict[sensor_id][i]));

            var br = document.createElement('br');

            //var container = document.getElementById('container');
            checkbox_div.appendChild(checkbox);
            checkbox_div.appendChild(label);
            checkbox_div.appendChild(br);
          }
        }
    }

    function load_conditions_div() {

      attributes_dict = window.value

      var conditions_div = document.createElement('div');
      var conditions_div_2 = document.createElement('div');

      conditions_div.id = "conditions_div_id"
      conditions_div_2.id = "conditions_div_id_2"

      var container = document.getElementById('container2');

      container.appendChild(conditions_div);
      container.appendChild(conditions_div_2);

      var id_increment = 0;

      for (var i = 0; i < attributes_dict[sensor_id].length; i++) {
          
          if (attributes_dict[sensor_id][i] == "timestamp") {
            //pass
          }

          else {

            var label = document.createElement('label');
            var label_2 = document.createElement('label');
            var br = document.createElement('br');
            var br_2 = document.createElement('br');

            label.setAttribute("style", "font-size: medium;");
            label_2.setAttribute("style", "font-size: medium;");

            selector_id = "select" + id_increment
            value_input_id = "value" + id_increment

            selector_id_2 = "2select" + id_increment
            value_input_id_2 = "2value" + id_increment

            id_increment = id_increment + 1;

            var selector = document.createElement("SELECT");
            selector.setAttribute("id", selector_id);

            var selector_2 = document.createElement("SELECT");
            selector_2.setAttribute("id", selector_id_2);
        
            label.htmlFor = attributes_dict[sensor_id][i];
            label.appendChild(document.createTextNode(attributes_dict[sensor_id][i]));

            label_2.htmlFor = attributes_dict[sensor_id][i];
            label_2.appendChild(document.createTextNode(attributes_dict[sensor_id][i]));

            var value_input = document.createElement("input");
            value_input.type = "text"
            value_input.placeholder = "write the value here"
            value_input.id = value_input_id;

            var value_input_2 = document.createElement("input");
            value_input_2.type = "text"
            value_input_2.placeholder = "write the value here"
            value_input_2.id = value_input_id_2;

            conditions_div.setAttribute("style", "display: grid; width:50%; float:left; grid-template-columns: 20% 35% 45%;");
            conditions_div_2.setAttribute("style", "display: grid; width:50%; float:right; grid-template-columns: 20% 35% 45%;");
            
            conditions_div.appendChild(label);
            conditions_div.appendChild(selector);
            conditions_div.appendChild(value_input);
            conditions_div_2.appendChild(label_2);
            conditions_div_2.appendChild(selector_2);
            conditions_div_2.appendChild(value_input_2);
            conditions_div.appendChild(br);
            conditions_div_2.appendChild(br_2);

            label.setAttribute("style", "grid-column-start: 1; font-size: medium; margin-top: 10%;");
            selector.setAttribute("style", "grid-column-start: 2; width:40%;");
            value_input.setAttribute("style", "grid-column-start: 3; width:60%;");

            label_2.setAttribute("style", "grid-column-start: 1; font-size: medium; margin-top: 10%;");
            selector_2.setAttribute("style", "grid-column-start: 2; width:40%;");
            value_input_2.setAttribute("style", "grid-column-start: 3; width:60%;");

            var z = document.createElement("option");
            z.setAttribute("value", ">");
            var t = document.createTextNode(">");
            z.appendChild(t);
            document.getElementById(selector_id).appendChild(z);

            var z = document.createElement("option");
            z.setAttribute("value", "<");
            var t = document.createTextNode("<");
            z.appendChild(t);
            document.getElementById(selector_id).appendChild(z);

            var z = document.createElement("option");
            z.setAttribute("value", "=");
            var t = document.createTextNode("=");
            z.appendChild(t);
            document.getElementById(selector_id).appendChild(z);

            var z = document.createElement("option");
            z.setAttribute("value", ">=");
            var t = document.createTextNode(">=");
            z.appendChild(t);
            document.getElementById(selector_id).appendChild(z);

            var z = document.createElement("option");
            z.setAttribute("value", "<=");
            var t = document.createTextNode("<=");
            z.appendChild(t);
            document.getElementById(selector_id).appendChild(z);

            //

            var z = document.createElement("option");
            z.setAttribute("value", ">");
            var t = document.createTextNode(">");
            z.appendChild(t);
            document.getElementById(selector_id_2).appendChild(z);

            var z = document.createElement("option");
            z.setAttribute("value", "<");
            var t = document.createTextNode("<");
            z.appendChild(t);
            document.getElementById(selector_id_2).appendChild(z);

            var z = document.createElement("option");
            z.setAttribute("value", "=");
            var t = document.createTextNode("=");
            z.appendChild(t);
            document.getElementById(selector_id_2).appendChild(z);

            var z = document.createElement("option");
            z.setAttribute("value", ">=");
            var t = document.createTextNode(">=");
            z.appendChild(t);
            document.getElementById(selector_id_2).appendChild(z);

            var z = document.createElement("option");
            z.setAttribute("value", "<=");
            var t = document.createTextNode("<=");
            z.appendChild(t);
            document.getElementById(selector_id_2).appendChild(z);
            
          }
      }

      
    }
  </script>
</body>
</html>